.clients {
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
     padding: 94px 0;
        }
}

.section-title {
    margin-bottom: 30px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    
    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.17;
        margin-bottom: 50px;
    }
}

.clients-list {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 210px;
    height: 92px;
    border: 1px solid currentColor;
    color: var(--fill-svg-icon);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
        width: 226px;
        height: 92px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 170px;
        height: 92px;
    }
}

.clients-link:hover,
.clients-link:focus {
    color: var(--accent-color);
}

.cliens-icon {
    fill: currentColor;
}