.footer-main {
    @media screen and (max-width: 1199px) {
        text-align: center;
    }
}


.footer-main {
    @media screen and (min-width: 768px) {
            align-items: baseline;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

    @media screen and (min-width: 1200px) {
        align-items: baseline;
        display: flex;
    }
}

.footer-list {
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }
}

.footer {
    background-color: var(--footer-bg-color);
    padding: 60px 0;
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-social {
    @media screen and (min-width: 1200px) {
        margin-left: 70px;
    }
}

.footer-social-list {
    @media screen and (min-width: 1200px) {
        display: flex;
        list-style: none;
        gap: 10px;
        justify-content: center;
    }
    display: flex;
    list-style: none;
    gap: 10px;
    justify-content: center;
}

.social-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    width: 44px;
    height: 44px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
    background-color: var(--accent-color);
}

.footer-icon {
    fill: var(--primary-bg-color);
}

.join {
    @media screen and (max-width: 1199px) {
            text-align: center;
        }
    font-family: roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}