.header {
    border-bottom: 1px solid #ececec;
}

.header__nav {
    margin-left: 93px;
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.header__container {
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px) {
       padding: 15px 16px;
    }

} 