:root {
    --primary-text-color: #212121;
    --logo-web-color: #000000;
    --accent-color: #2196f3;
    --text-color: #757575;
    --primary-bg-color: #ffffff;
    --footer-bg-color: #2f303a;
    --button-bg-color: #f5f4fa;
    --fill-svg-icon: #afb1b8;

    --idx-header: 100;
    --idx-backdrop: 1000;
}